@model IEnumerable<AVN.Models.ScheduleVM>
@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    var daysOfWeek = Enum.GetValues(typeof(DaysOfTheWeek)).Cast<DaysOfTheWeek>();
    var sortedModel = Model.OrderBy(item => item.Days);

}

<div id="toolbar">
    <a asp-controller="Schedule" asp-action="Create">
        <input type="button" class="btn btn-success" value="Добавить" />
    </a>
</div>

<div class="table-responsive">
    <table class="table-striped"
           id="table"
           data-toggle="table"
           data-pagination="true"
           data-show-columns="true"
           data-key-events="true"
           data-show-toggle="true"
           data-cookie="true"
           data-cookie-id-table="saveId"
           data-show-export="true"
           data-click-to-select="true"
           data-toolbar="#toolbar"
           data-show-columns-toggle-all="true"
           data-minimum-count-columns="2"
           data-show-pagination-switch="true"
           data-page-list="[10, 25, 50, 100, всё]"
           data-show-footer="true"
           data-locale="ru-RU">
        <thead>
            <tr>
                <th scope="col" data-sortable="true" data-filter-control="input" data-field="Days">
                    День недели
                </th>
                <th scope="col" data-sortable="true" data-filter-control="input" data-field="StartTime">
                    Время начала
                </th>
                <th scope="col" data-sortable="true" data-filter-control="input" data-field="EndTime">
                    Время окончания
                </th>
                <th scope="col" data-sortable="true" data-filter-control="input" data-field="SubjectId">
                    Предмет
                </th>
                <th scope="col" data-sortable="true" data-filter-control="input" data-field="EmployeeId">
                    Преподаватель
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var group in Model.GroupBy(item => item.Group))
            {
                <tr class="table-primary text-left">
                    <td colspan="5">@group.Key.GroupName (@group.Key.Direction.Department.Faculty.FacultyName)</td>
                </tr>
                foreach (var item in group)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Days)
                        </td>
                        <td>
                            @item.StartTime.ToString("HH:mm")
                        </td>
                        <td>
                            @item.EndTime.ToString("HH:mm")
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Subject.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Employee.FullName)
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

@section Scripts {
    @* --- Jquery --- *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    @* --- Bootstrap --- *@
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    @* --- Скрипт таблицы --- *@
    <script src="https://unpkg.com/tableexport.jquery.plugin/tableExport.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.20.1/dist/bootstrap-table.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.20.1/dist/bootstrap-table-locale-all.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.20.1/dist/extensions/export/bootstrap-table-export.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.20.1/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>

}