@model IList<TransferStudentVM>
@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<style>
    .table-hover tr:hover {
        background-color: #f5f5f5;
    }

    .green-check {
        color: green;
    }
</style>

<form method="post" action="/Student/ExportStudentList" >
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-right">
                <button type="submit" class="btn btn-primary mb-3">
                    <i class="fas fa-angle-double-right"></i>
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <table class="table table-bordered table-hover" id="exportTable">
                    <thead class="thead-light">
                        <tr>
                            <th>
                                <input type="checkbox" id="selectAllCheckbox">
                            </th>
                            <th>@Html.DisplayNameFor(model => model[0].FullName)</th>
                            <th>@Html.DisplayNameFor(model => model[0].GradeBookNumber)</th>
                            <th>@Html.DisplayNameFor(model => model[0].GroupId)</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            for (var i = 0; i < Model.Count; i++)
                            {
                                <tr>
                                    @Html.HiddenFor(m => Model[i].Id)
                                    @Html.HiddenFor(m => Model[i].GroupId)
                                    @Html.HiddenFor(m => Model[i].SName)
                                    @Html.HiddenFor(m => Model[i].Name)
                                    @Html.HiddenFor(m => Model[i].PName)
                                    @Html.HiddenFor(m => Model[i].FullName)
                                    @Html.HiddenFor(m => Model[i].GradeBookNumber)
                                    @Html.HiddenFor(m => Model[i].Transfered)
                                    <td>
                                        <input type="checkbox" asp-for="@Model[i].Selected" class="selector-checkbox">
                                    </td>
                                    <td>
                                        @if (Model[i].Transfered)
                                        {
                                            <i class="fas fa-running green-check"></i>
                                        }
                                        else
                                        {
                                            <i class="fas fa-running"></i>
                                        }
                                        @Model[i].FullName
                                    </td>
                                    <td>@Model[i].GradeBookNumber</td>
                                    <td>@Model[i].Group.GroupName</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

   
</form>







@section Scripts {
    @* --- Jquery --- *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    @* --- Bootstrap --- *@
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    @* --- Скрипт таблицы --- *@
    <script src="https://unpkg.com/tableexport.jquery.plugin/tableExport.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.20.1/dist/bootstrap-table.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.20.1/dist/bootstrap-table-locale-all.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.20.1/dist/extensions/export/bootstrap-table-export.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.20.1/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#selectAllCheckbox').change(function () {
                var isChecked = $(this).is(':checked');
                $('.selector-checkbox').prop('checked', isChecked);
            });
        });

    </script>

}
