@{
    ViewData["Title"] = "Студенты";
}


<div class="row">
    <div class="col-md-7">
        <div class="form-group row mb-1">

            <div class="col-md-2">
                <label class="font-weight-bold">Факультет</label>
            </div>
            <div class="col-md-10">
                <select id="facultyDropdown" name="facultyDropdown" class="form-control"></select>

            </div>
        </div>
        <div class="form-group row mb-1">

            <div class="col-md-2">
                <label class="font-weight-bold">Кафедра</label>
            </div>
            <div class="col-md-10">
                <select id="departmentDropdown" name="departmentDropdown" class="form-control"></select>

            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="form-group row mb-1">

            <div class="col-md-3">
                <label class="font-weight-bold">Направление</label>
            </div>
            <div class="col-md-9">
                <select id="directionDropdown" name="directionDropdown" class="form-control"></select>

            </div>
        </div>
        <div class="form-group row mb-1">

            <div class="col-md-3">
                <label class="font-weight-bold">Группа</label>
            </div>
            <div class="col-md-9">
                <select id="groupDropdown" name="groupDropdown" class="form-control"></select>

            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="row mb-1">
            <div class="col-md-4"></div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-3 mt-2">
                        <label class="font-weight-bold">Поиск по ФИО</label>
                    </div>
                    <div class="col-md-9">
                        <input type="text" id="fullname" name="fullname" class="form-control mt-2" placeholder="Введите ФИО" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<hr>
<div class="container-fluid" id="dataContainer">
</div>


@section Scripts {
    <script>
        $(document).ready(function () {
            var facultyDropdown = $('#facultyDropdown');
            var departmentDropdown = $('#departmentDropdown');
            var directionDropdown = $('#directionDropdown');
            var groupDropdown = $('#groupDropdown');
            var fullname = $('#fullname');

            fullname.on('input', function () {
                var inputValue = $(this).val();

                if (inputValue.trim() !== '') {
                    // Disable other dropdowns
                    $('#facultyDropdown').prop('disabled', true);
                    $('#departmentDropdown').prop('disabled', true);
                    $('#directionDropdown').prop('disabled', true);
                    $('#groupDropdown').prop('disabled', true);
                } else {
                    // Enable other dropdowns
                    $('#facultyDropdown').prop('disabled', false);
                    $('#departmentDropdown').prop('disabled', false);
                    $('#directionDropdown').prop('disabled', false);
                    $('#groupDropdown').prop('disabled', false);
                    GetList();
                }
            });

            fullname.on('keydown', function (event) {
                if (event.which === 13) {
                    GetList();
                    event.preventDefault();
                }
            });

            // Заполнение выпадающего списка факультетов при загрузке страницы
            $.ajax({
                url: '@Url.Action("GetFaculties", "Faculty")',
                type: 'GET',
                success: function (data) {
                    populateDropdown(facultyDropdown, data);
                    loadSelectedValue('facultyDropdown');
                    GetList();
                    FillDepartmentsDropdown();
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });

            // Обработчик изменения выбранного факультета
            facultyDropdown.change(function () {
                saveSelectedValue('facultyDropdown')
                FillDepartmentsDropdown();
                GetList();
            });

            // Обработчик изменения выбранного отделения
            departmentDropdown.change(function () {
                FillDirectionsDropdown();
                saveSelectedValue('departmentDropdown')
                GetList();
            });

            // Обработчик изменения выбранного направления
            directionDropdown.change(function () {
                FillGroupsDropdown();
                saveSelectedValue('directionDropdown')
                GetList();
            });

            // Обработчик изменения выбранной группы
            groupDropdown.change(function () {
                GetList();
            });

            // Заполнение выпадающего списка отделений
            function FillDepartmentsDropdown() {
                var facultyId = facultyDropdown.val();
                if (!facultyId) {
                    facultyId = facultyDropdown.find('option:first').val();
                    facultyDropdown.val(facultyId);
                }
                $.ajax({
                    url: '@Url.Action("GetDepartmentsByFaculty", "Department")',
                    type: 'GET',
                    data: { facultyId: facultyId },
                    success: function (data) {
                        clearDropdown(departmentDropdown);
                        populateDropdown(departmentDropdown, data);
                        loadSelectedValue('departmentDropdown');
                        FillDirectionsDropdown();
                    },
                    error: function (xhr, status, error) {
                        console.error(xhr.responseText);
                    }
                });
            }

            // Заполнение выпадающего списка направлений
            function FillDirectionsDropdown() {
                var departmentId = departmentDropdown.val();
                $.ajax({
                    url: '@Url.Action("GetDirectionsByDepartment", "Direction")',
                    type: 'GET',
                    data: { departmentId: departmentId },
                    success: function (data) {
                        clearDropdown(directionDropdown);
                        populateDropdown(directionDropdown, data);
                        loadSelectedValue('directionDropdown');
                        FillGroupsDropdown();
                    },
                    error: function (xhr, status, error) {
                        console.error(xhr.responseText);
                    }
                });
            }

            // Заполнение выпадающего списка групп
            function FillGroupsDropdown() {
                var directionId = directionDropdown.val();
                var groupType = '@Html.Raw(Json.Serialize(GroupType.Students))';

                $.ajax({
                    url: '@Url.Action("GetGroupsByDirection", "Group")',
                    type: 'GET',
                    data: {
                        'directionId': directionId,
                        'groupType': groupType
                    },
                    success: function (data) {
                        clearDropdown(groupDropdown);
                        populateDropdown(groupDropdown, data);
                    },
                    error: function (xhr, status, error) {
                        console.error(xhr.responseText);
                    }
                });
            }

            // Получение списка студентов
            function GetList() {
                var facultyId = facultyDropdown.val();
                var departmentId = departmentDropdown.val();
                var directionId = directionDropdown.val();
                var groupId = groupDropdown.val();
                var groupType = '@Html.Raw(Json.Serialize(GroupType.Students))';
                var studentFio = fullname.val();

                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("StudentList", "Student")',
                    contentType: 'application/json',
                    data: {
                        'facultyId': facultyId,
                        'departmentId': departmentId,
                        'directionId': directionId,
                        'groupId': groupId,
                        'groupType': groupType,
                        'fullname': studentFio
                    },
                    success: function (response) {
                        $('#dataContainer').html(response);
                        $('#studentTable').DataTable();
                    },
                    error: function (xhr, status, error) {
                        console.error(xhr.responseText);
                    }
                });
            }

            // Очистка выпадающего списка
            function clearDropdown(dropdown) {
                dropdown.empty();
                dropdown.append($('<option>').text('Все').val(''));
            }

            // Заполнение выпадающего списка данными
            function populateDropdown(dropdown, data) {
                $.each(data, function (i, item) {
                    dropdown.append($('<option>').val(item.value).text(item.text));
                });
            }

            function loadSelectedValue(dropdownId) {
                var selectedValue = localStorage.getItem(dropdownId);
                if (selectedValue) {
                    $('#' + dropdownId).val(selectedValue);
                }
            }

            function saveSelectedValue(dropdownId) {
                var selectedValue = $('#' + dropdownId).val();
                localStorage.setItem(dropdownId, selectedValue);
            }

        });
    </script>
}
