@model OrderVM
@{
    ViewData["Title"] = "Приказы";
}
@using (Html.BeginForm())
{
    <form method="post" id="orderForm">
        <div class="row">
            <div class="col-lg-12">
                <div class="form-group row mb-1">
                    <div class="col-lg-5">
                        <select id="facultyFromDropdown" name="facultyFromDropdown" class="form-control"></select>
                    </div>
                    <div class="col-lg-2  text-center">
                        <label class="font-weight-bold">- ФАКУЛЬТЕТЫ -</label>
                    </div>
                    <div class="col-lg-5">
                        <select id="facultyToDropdown" name="facultyToDropdown" class="form-control"></select>
                    </div>
                </div>
                <br>
                <div class="form-group row mb-1">
                    <div class="col-md-2 text-center">
                        <label class="font-weight-bold">Учебный год</label>
                        <select id="academYearFirstDropdown" name="academYearFirstDropdown" class="form-control"></select>
                    </div>
                    <div class="col-md-2 text-center">
                        <label class="font-weight-bold">Из группы</label>
                        <select id="groupFromDropdown" name="groupFromDropdown" class="form-control"></select>
                    </div>
                    <div class="col-md-4 text-center">
                        <label class="font-weight-bold">Тип перемещения</label>
                        @*<select id="movementTypeDropdown" name="movementTypeDropdown" class="form-control"></select>*@
                        @Html.DropDownListFor(x => x.MovementTypeId, new List<SelectListItem>(), new { @class = "form-control", id = "movementTypeDropdown" })
                    </div>
                    <div class="col-md-2 text-center">
                        <label class="font-weight-bold">В группу</label>
                        @*<select id="groupToDropdown" name="groupToDropdown" class="form-control"></select>*@
                        @Html.DropDownListFor(x => x.GroupId, new List<SelectListItem>(), new { @class = "form-control", id = "groupToDropdown" })
                    </div>
                    <div class="col-md-2 text-center">
                        <label class="font-weight-bold">Учебный год</label>
                        @*<select id="academYearSecondDropdown" name="academYearSecondDropdown" class="form-control"></select>*@
                        @Html.DropDownListFor(x => x.AcademicYearId, new List<SelectListItem>(), new { @class = "form-control", id = "academYearSecondDropdown" })
                    </div>
                </div>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-6">
                <div id="LeftContainer"></div>
            </div>
            <div class="col-md-6">
                <div id="RightContainer"></div>
            </div>
        </div>
        <hr />

        <div class="container">
@*            <div class="row">
                <div class="col-lg-12">
                    <div class="col-md-6">
                        <div id="LeftContainer">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div id="RightContainer">
                        </div>
                    </div>
                </div>
            </div>*@
            <div class="row">
                <div class="col-lg-12 row">
                    @Html.HiddenFor(x => x.MovementTypeId)
                    @Html.HiddenFor(x => x.AcademicYearId)
                    @Html.HiddenFor(x => x.GroupId)
                    <div class="col-md-2 form-group">
                        <label class="font-weight-bold">@Html.DisplayNameFor(x => x.Date)</label>
                        @Html.TextBoxFor(x => x.Date, "{0:yyyy-MM-dd}", new { @class = "form-control",@type = "date"})
                        @Html.ValidationMessageFor(x => x.Date, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-2 form-group">
                        <label class="font-weight-bold">@Html.DisplayNameFor(x => x.Number)</label>
                        @Html.EditorFor(x => x.Number, new { htmlAttributes = new { @class = "form-control" }})
                        @Html.ValidationMessageFor(x => x.Number, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-4 form-group">
                        <label class="font-weight-bold">@Html.DisplayNameFor(x => x.OrderTypeId)</label>
                        @Html.DropDownListFor(x => x.OrderTypeId, new List<SelectListItem>(), "Не выбрано", new { @class = "form-control", id = "orderTypeDropdown" })
                        @Html.ValidationMessageFor(x => x.OrderTypeId, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-1 form-group"></div>
                    <div class="col-md-3 form-group">
                        <br />
                        <div class="row">
                            <button type="submit" class="btn btn-success mb-3 mr-3">
                                <i class="fas fa-save"></i> <span> Сохранить</span>
                            </button>
                            <button type="submit" class="btn btn-info mb-3" onclick="cancelImportStudents()">
                                <i class="fas fa-reply-all"></i> <span> Отменить</span>
                            </button>
                        </div>
                    </div>
                    <div class="col-md-5 form-group">
                        <label>@Html.DisplayNameFor(x => x.Note)</label>
                        @Html.TextAreaFor(x => x.Note, new { @class = "form-control", rows = "4"})
                        @Html.ValidationMessageFor(x => x.Note, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
    </form>
}



@section Scripts {
    <script>
        function saveImportedStudents() {
            var importForm = document.getElementById("orderForm");
            importForm.action = "/Order/SaveImportedStudents";
            importForm.submit();
        }
        function cancelImportStudents() {
            var importForm = document.getElementById("orderForm");
            importForm.action = "/Order/CancelImportStudents";
            importForm.submit();
        }

        $(document).ready(function () {
            loadDropdownData();

            $('#movementTypeDropdown, #facultyFromDropdown, #facultyToDropdown, #academYearFirstDropdown, #academYearSecondDropdown').change(function () {
                FillGroupFromDropdown2();
                FillGroupToDropdown2();
                FillOrderTypeDropdown();
            });

            $('#groupFromDropdown').change(function () {
                GetLeftStudentList();
                saveSelectedValue('groupFromDropdown')
            });

            $('#groupToDropdown').change(function () {
                GetRightStudentList();
                saveSelectedValue('groupToDropdown')
            });
        });

        function loadDropdownData() {
            $.ajax({
                url: '@Url.Action("GetFaculties", "Faculty")',
                type: 'GET',
                success: function (data) {
                    populateDropdown(data, 'facultyFromDropdown');
                    populateDropdown(data, 'facultyToDropdown');
                    loadSelectedValue('facultyFromDropdown');
                    loadSelectedValue('facultyToDropdown');
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });

            $.ajax({
                url: '@Url.Action("GetAcademicYears", "Option")',
                type: 'GET',
                success: function (data) {
                    populateDropdown(data, 'academYearFirstDropdown');
                    populateDropdown(data, 'academYearSecondDropdown');
                    loadSelectedValue('academYearFirstDropdown');
                    loadSelectedValue('academYearSecondDropdown');
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });

            $.ajax({
                url: '@Url.Action("GetMovementTypes", "Option")',
                type: 'GET',
                success: function (data) {
                    populateDropdown(data, 'movementTypeDropdown');
                    loadSelectedValue('movementTypeDropdown');
                    FillGroupFromDropdown();
                    FillGroupToDropdown();
                    FillOrderTypeDropdown();
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        }

        function populateDropdown(data, dropdownId) {
            var dropdown = $('#' + dropdownId);
            dropdown.empty();

            if (data.length === 0) {
                dropdown.append($('<option>').text('Нет данных').val('0'));
            } else {
                $.each(data, function (i, item) {
                    dropdown.append($('<option></option>').val(item.value).text(item.text));
                });
            }
        }

        function FillGroupFromDropdown() {
            var facultyId = $('#facultyFromDropdown').val();
            var movementTypeId = $('#movementTypeDropdown').val();
            var academicYearId = $('#academYearFirstDropdown').val();

            $.ajax({
                type: 'GET',
                url: '@Url.Action("GetGroupsToExport", "Group")',
                contentType: 'application/json',
                data: {
                    'facultyId': facultyId,
                    'movementTypeId': movementTypeId,
                    'academicYearId': academicYearId
                },
                success: function (data) {
                    populateDropdown(data, 'groupFromDropdown');
                    loadSelectedValue('groupFromDropdown');
                    GetLeftStudentList();
                    saveSelectedValue('facultyFromDropdown');
                    saveSelectedValue('movementTypeDropdown');
                    saveSelectedValue('academYearFirstDropdown');
                    //saveSelectedValue('groupFromDropdown');
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        }

        function FillGroupToDropdown() {
            var facultyId = $('#facultyToDropdown').val();
            var movementTypeId = $('#movementTypeDropdown').val();
            var academicYearId = $('#academYearSecondDropdown').val();

            $.ajax({
                type: 'GET',
                url: '@Url.Action("GetGroupsToImport", "Group")',
                contentType: 'application/json',
                data: {
                    'facultyId': facultyId,
                    'movementTypeId': movementTypeId,
                    'academicYearId': academicYearId
                },
                success: function (data) {
                    populateDropdown(data, 'groupToDropdown');
                    loadSelectedValue('groupToDropdown');
                    GetRightStudentList();
                    saveSelectedValue('facultyToDropdown');
                    saveSelectedValue('movementTypeDropdown');
                    saveSelectedValue('academYearSecondDropdown');
                    //saveSelectedValue('groupToDropdown');
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        }

        function FillGroupFromDropdown2() {
            var facultyId = $('#facultyFromDropdown').val();
            var movementTypeId = $('#movementTypeDropdown').val();
            var academicYearId = $('#academYearFirstDropdown').val();

            $.ajax({
                type: 'GET',
                url: '@Url.Action("GetGroupsToExport", "Group")',
                contentType: 'application/json',
                data: {
                    'facultyId': facultyId,
                    'movementTypeId': movementTypeId,
                    'academicYearId': academicYearId
                },
                success: function (data) {
                    populateDropdown(data, 'groupFromDropdown');
                    GetLeftStudentList();
                    saveSelectedValue('facultyFromDropdown');
                    saveSelectedValue('movementTypeDropdown');
                    saveSelectedValue('academYearFirstDropdown');
                    saveSelectedValue('groupFromDropdown');
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        }

        function FillGroupToDropdown2() {
            var facultyId = $('#facultyToDropdown').val();
            var movementTypeId = $('#movementTypeDropdown').val();
            var academicYearId = $('#academYearSecondDropdown').val();

            $.ajax({
                type: 'GET',
                url: '@Url.Action("GetGroupsToImport", "Group")',
                contentType: 'application/json',
                data: {
                    'facultyId': facultyId,
                    'movementTypeId': movementTypeId,
                    'academicYearId': academicYearId
                },
                success: function (data) {
                    populateDropdown(data, 'groupToDropdown');
                    GetRightStudentList();
                    saveSelectedValue('facultyToDropdown');
                    saveSelectedValue('movementTypeDropdown');
                    saveSelectedValue('academYearSecondDropdown');
                    saveSelectedValue('groupToDropdown');
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        }

        function FillOrderTypeDropdown() {
            var movementTypeId = $('#movementTypeDropdown').val();

            $.ajax({
                type: 'GET',
                url: '@Url.Action("GetOrderTypeByMovement", "Option")',
                contentType: 'application/json',
                data: {
                    'movementTypeId': movementTypeId
                },
                success: function (data) {
                    populateDropdown(data, 'orderTypeDropdown');
                    saveSelectedValue('orderTypeDropdown');
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        }

        function loadSelectedValue(dropdownId) {
            var selectedValue = sessionStorage.getItem(dropdownId);
            if (selectedValue) {
                $('#' + dropdownId).val(selectedValue);
            }
        }

        function saveSelectedValue(dropdownId) {
            var selectedValue = $('#' + dropdownId).val();
            sessionStorage.setItem(dropdownId, selectedValue);
        }

        function GetLeftStudentList() {
            var groupId = $('#groupFromDropdown').val();

            $.ajax({
                type: 'GET',
                url: '@Url.Action("ExportStudentList", "Student")',
                contentType: 'application/json',
                data: {
                    'groupId': groupId
                },
                success: function (response) {
                    $('#LeftContainer').html(response);
                    $('#exportTable').DataTable();
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        }

        function GetRightStudentList() {
            var groupId = $('#groupToDropdown').val();

            $.ajax({
                type: 'GET',
                url: '@Url.Action("ImportStudentList", "Student")',
                contentType: 'application/json',
                data: {
                    'groupId': groupId
                },
                success: function (response) {
                    $('#RightContainer').html(response);
                    $('#importTable').DataTable();
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        }
    </script>
}