@{
    ViewData["Title"] = "Приказы";
}

@using (Html.BeginForm())
{

    <div class="row">
        <div class="col-lg-12">
            <div class="form-group row mb-1">
                <div class="col-lg-5">
                    <select id="facultyFromDropdown" name="facultyFromDropdown" class="form-control"></select>
                </div>
                <div class="col-lg-2  text-center">
                    <label class="font-weight-bold">- ФАКУЛЬТЕТЫ -</label>
                </div>
                <div class="col-lg-5">
                    <select id="facultyToDropdown" name="facultyToDropdown" class="form-control"></select>
                </div>
            </div>
            <br>
            <div class="form-group row mb-1">
                <div class="col-md-2 text-center">
                    <label class="font-weight-bold">Учебный год</label>
                    <select id="academYearFirstDropdown" name="academYearFirstDropdown" class="form-control"></select>
                </div>
                <div class="col-md-2 text-center">
                    <label class="font-weight-bold">Из группы</label>
                    <select id="groupFromDropdown" name="groupFromDropdown" class="form-control"></select>
                </div>
                <div class="col-md-4 text-center">
                    <label class="font-weight-bold">Тип перемещения</label>
                    <select id="movementTypeDropdown" name="movementTypeDropdown" class="form-control"></select>
                </div>
                <div class="col-md-2 text-center">
                    <label class="font-weight-bold">В группу</label>
                    <select id="groupToDropdown" name="groupToDropdown" class="form-control"></select>
                </div>
                <div class="col-md-2 text-center">
                    <label class="font-weight-bold">Учебный год</label>
                    <select id="academYearSecondDropdown" name="academYearSecondDropdown" class="form-control"></select>
                </div>
            </div>
        </div>
    </div>
}
<hr>

<div class="row">
    <div class="col-md-6">
        <div id="LeftContainer">
        </div>
    </div>
    <div class="col-md-6">
        <div id="RightContainer">
        </div>
    </div>
</div>



@section Scripts {
    <script>
        $(document).ready(function () {
            loadDropdownData();

            $('#movementTypeDropdown, #facultyFromDropdown, #facultyToDropdown, #academYearFirstDropdown, #academYearSecondDropdown').change(function () {
                FillGroupFromDropdown();
                FillGroupToDropdown();
            });

            $('#groupFromDropdown').change(function () {
                GetLeftStudentList();
            });

            $('#groupToDropdown').change(function () {
                GetRightStudentList();
            });
        });

        function loadDropdownData() {
            $.ajax({
                url: '@Url.Action("GetFaculties", "Faculty")',
                type: 'GET',
                success: function (data) {
                    populateDropdown(data, 'facultyFromDropdown');
                    populateDropdown(data, 'facultyToDropdown');
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });

            $.ajax({
                url: '@Url.Action("GetAcademicYears", "Option")',
                type: 'GET',
                success: function (data) {
                    populateDropdown(data, 'academYearFirstDropdown');
                    populateDropdown(data, 'academYearSecondDropdown');
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });

            $.ajax({
                url: '@Url.Action("GetMovementTypes", "Option")',
                type: 'GET',
                success: function (data) {
                    populateDropdown(data, 'movementTypeDropdown');
                    FillGroupFromDropdown();
                    FillGroupToDropdown();
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        }

        function populateDropdown(data, dropdownId) {
            var dropdown = $('#' + dropdownId);
            dropdown.empty();

            if (data.length === 0) {
                dropdown.append($('<option>').text('Нет данных').val('0'));
            } else {
                $.each(data, function (i, item) {
                    dropdown.append($('<option></option>').val(item.value).text(item.text));
                });
            }

            loadSelectedValue(dropdownId);
        }

        function saveSelectedValue(dropdownId) {
            var selectedValue = $('#' + dropdownId).val();
            if (selectedValue) {
                localStorage.setItem(dropdownId, selectedValue);
            } else {
                localStorage.removeItem(dropdownId);
            }
        }

        function loadSelectedValue(dropdownId) {
            var selectedValue = localStorage.getItem(dropdownId);
            if (selectedValue) {
                $('#' + dropdownId).val(selectedValue);
            }
        }

        function FillGroupFromDropdown() {
            var facultyId = $('#facultyFromDropdown').val();
            var movementTypeId = $('#movementTypeDropdown').val();
            var academicYearId = $('#academYearFirstDropdown').val();

            $.ajax({
                type: 'GET',
                url: '@Url.Action("GetGroupsToExport", "Group")',
                contentType: 'application/json',
                data: {
                    'facultyId': facultyId,
                    'movementTypeId': movementTypeId,
                    'academicYearId': academicYearId
                },
                success: function (data) {
                    populateGroupDropdown(data, 'groupFromDropdown');
                    GetLeftStudentList();
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        }

        function FillGroupToDropdown() {
            var facultyId = $('#facultyToDropdown').val();
            var movementTypeId = $('#movementTypeDropdown').val();
            var academicYearId = $('#academYearSecondDropdown').val();

            $.ajax({
                type: 'GET',
                url: '@Url.Action("GetGroupsToImport", "Group")',
                contentType: 'application/json',
                data: {
                    'facultyId': facultyId,
                    'movementTypeId': movementTypeId,
                    'academicYearId': academicYearId
                },
                success: function (data) {
                    populateGroupDropdown(data, 'groupToDropdown');
                    GetRightStudentList();
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        }

        function populateGroupDropdown(data, dropdownId) {
            var dropdown = $('#' + dropdownId);
            dropdown.empty();

            if (data.length === 0) {
                dropdown.append($('<option>').text('Нет групп').val('0'));
            } else {
                $.each(data, function (i, group) {
                    dropdown.append($('<option></option>').val(group.value).text(group.text));
                });
            }

            loadSelectedValue(dropdownId);
        }

        function GetLeftStudentList() {
            var groupId = $('#groupFromDropdown').val();

            $.ajax({
                type: 'GET',
                url: '@Url.Action("ExportStudentList", "Student")',
                contentType: 'application/json',
                data: {
                    'groupId': groupId
                },
                success: function (response) {
                    $('#LeftContainer').html(response);
                    $('#exportTable').DataTable();
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        }

        function GetRightStudentList() {
            var groupId = $('#groupToDropdown').val();

            $.ajax({
                type: 'GET',
                url: '@Url.Action("ImportStudentList", "Student")',
                contentType: 'application/json',
                data: {
                    'groupId': groupId
                },
                success: function (response) {
                    $('#RightContainer').html(response);
                    $('#importTable').DataTable();
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        }
    </script>
}