@{
    ViewData["Title"] = "Приказы";
}

@using (Html.BeginForm())
{

    <div class="row">
        <div class="col-lg-12">
            <div class="form-group row mb-1">
                <div class="col-lg-5">
                    <select id="facultyFromDropdown" name="facultyFromDropdown" class="form-control"></select>
                </div>
                <div class="col-lg-2  text-center">
                    <label class="font-weight-bold">- ФАКУЛЬТЕТЫ -</label>
                </div>
                <div class="col-lg-5">
                    <select id="facultyToDropdown" name="facultyToDropdown" class="form-control"></select>
                </div>
            </div>
            <br>
            <div class="form-group row mb-1">

                <div class="col-md-2 text-center">
                    <label class="font-weight-bold">Учебный год</label>
                    <select id="academYearFirstDropdown" name="academYearFirstDropdown" class="form-control"></select>
                </div>
                <div class="col-md-2 text-center">
                    <label class="font-weight-bold">Из группы</label>
                    <select id="groupFromDropdown" name="groupFromDropdown" class="form-control"></select>
                </div>
                <div class="col-md-4 text-center">
                    <label class="font-weight-bold">Тип перемещения</label>
                    <select id="movementTypeDropdown" name="movementTypeDropdown" class="form-control"></select>
                </div>
                <div class="col-md-2 text-center">
                    <label class="font-weight-bold">В группу</label>
                    <select id="groupToDropdown" name="groupToDropdown" class="form-control"></select>
                </div>
                <div class="col-md-2 text-center">
                    <label class="font-weight-bold">Учебный год</label>
                    <select id="academYearSecondDropdown" name="academYearSecondDropdown" class="form-control"></select>
                </div>
            </div>
        </div>
    </div>
}
<hr>

<div class="row">
    <div class="col-md-6">
        <div id="LeftContainer">
        </div>
    </div>
    <div class="col-md-6">
        <div id="RightContainer">
        </div>
    </div>
</div>



@section Scripts {
    <script>
        var lastSelectedfacultyFromDropdown = localStorage.getItem('facultyFromDropdown');
        var lastSelectedfacultyToDropdown = localStorage.getItem('facultyToDropdown');
        var lastSelectedacademYearFirstDropdown = localStorage.getItem('academYearFirstDropdown');
        var lastSelectedacademYearSecondDropdown = localStorage.getItem('academYearSecondDropdown');
        var lastSelectedgroupFromDropdown = localStorage.getItem('groupFromDropdown');
        var lastSelectedgroupToDropdown = localStorage.getItem('groupToDropdown');
        var lastSelectedmovementTypeDropdown = localStorage.getItem('movementTypeDropdown');

        $(document).ready(function () {
            $.ajax({
                url: '@Url.Action("GetFaculties", "Faculty")',
                type: 'GET',
                success: function (data) {

                    $.each(data, function (i, faculty) {
                        $('#facultyFromDropdown').append($('<option></option>').val(faculty.value).text(faculty.text));
                    });
                    if (lastSelectedfacultyFromDropdown) {
                        $('#facultyFromDropdown').val(lastSelectedfacultyFromDropdown);
                    }

                    $.each(data, function (i, faculty) {
                        $('#facultyToDropdown').append($('<option></option>').val(faculty.value).text(faculty.text));
                    });
                    if (lastSelectedfacultyToDropdown) {
                        $('#facultyToDropdown').val(lastSelectedfacultyToDropdown);
                    }
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
            $.ajax({
                url: '@Url.Action("GetAcademicYears", "Option")', //to do перенести в контроллер Option
                type: 'GET',
                success: function (data) {

                    $.each(data, function (i, academYear) {
                        $('#academYearFirstDropdown').append($('<option></option>').val(academYear.value).text(academYear.text));
                    });
                    if (lastSelectedacademYearFirstDropdown) {
                        $('#academYearFirstDropdown').val(lastSelectedacademYearFirstDropdown);
                    }

                    $.each(data, function (i, academYear) {
                        $('#academYearSecondDropdown').append($('<option></option>').val(academYear.value).text(academYear.text));
                    });
                    if (lastSelectedacademYearSecondDropdown) {
                        $('#academYearSecondDropdown').val(lastSelectedacademYearSecondDropdown);
                    }
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
            $.ajax({
                url: '@Url.Action("GetMovementTypes", "Option")',
                type: 'GET',
                success: function (data) {

                    $.each(data, function (i, movementType) {
                        $('#movementTypeDropdown').append($('<option></option>').val(movementType.value).text(movementType.text));
                    });
                    if (lastSelectedmovementTypeDropdown) {
                        $('#movementTypeDropdown').val(lastSelectedmovementTypeDropdown);
                    }
                    // to do обработка выпадающего списка groupFromDropdown
                    FillGroupFromDropdown();
                    FillGroupToDropdown();
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        });

        $(document).ready(function () {
            $('#movementTypeDropdown').change(function () {
                FillGroupFromDropdown();
                FillGroupToDropdown();
                var selectedValue = $(this).val();
                localStorage.setItem('movementTypeDropdown', selectedValue);
            });
            $('#facultyFromDropdown').change(function () {
                FillGroupFromDropdown();
                var selectedValue = $(this).val();
                localStorage.setItem('facultyFromDropdown', selectedValue);
            });
            $('#facultyToDropdown').change(function () {
                FillGroupToDropdown();
                var selectedValue = $(this).val();
                localStorage.setItem('facultyToDropdown', selectedValue);
            });
            $('#academYearFirstDropdown').change(function () {
                FillGroupFromDropdown();
                var selectedValue = $(this).val();
                localStorage.setItem('academYearFirstDropdown', selectedValue);
            });
            $('#academYearSecondDropdown').change(function () {
                FillGroupToDropdown();
                var selectedValue = $(this).val();
                localStorage.setItem('academYearSecondDropdown', selectedValue);
            });
            $('#groupFromDropdown').change(function () {
                GetLeftStudentList();
                var selectedValue = $(this).val();
                localStorage.setItem('groupFromDropdown', selectedValue);
            });
            $('#groupToDropdown').change(function () {
                GetRightStudentList();
                var selectedValue = $(this).val();
                localStorage.setItem('groupToDropdown', selectedValue);
            });
        });




        function FillGroupFromDropdown() {
            var facultyId = $('#facultyFromDropdown').val();
            var movementTypeId = $('#movementTypeDropdown').val();
            var academicYearId = $('#academYearFirstDropdown').val();

            $.ajax({
                type: 'GET',
                url: '@Url.Action("GetGroupsToExport", "Group")',
                contentType: 'application/json',
                data: {
                    'facultyId': facultyId,
                    'movementTypeId': movementTypeId,
                    'academicYearId': academicYearId
                },
                success: function (data) {
                    $('#groupFromDropdown').empty();
                    if (data.length === 0) {
                        $('#groupFromDropdown').append($('<option>').text('Нет групп').val('0'));
                    } else {
                        $.each(data, function (i, group) {
                            $('#groupFromDropdown').append($('<option></option>').val(group.value).text(group.text));
                        });
                        //if (lastSelectedgroupFromDropdown) {
                        //    alert(lastSelectedgroupFromDropdown);
                        //    $('#groupFromDropdown').val(lastSelectedgroupFromDropdown);
                        //}
                    }
                    GetLeftStudentList();
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            })

        }

        function FillGroupToDropdown() {
            var facultyId = $('#facultyToDropdown').val();
            var movementTypeId = $('#movementTypeDropdown').val();
            var academicYearId = $('#academYearSecondDropdown').val();

            $.ajax({
                type: 'GET',
                url: '@Url.Action("GetGroupsToImport", "Group")',
                contentType: 'application/json',
                data: {
                    'facultyId': facultyId,
                    'movementTypeId': movementTypeId,
                    'academicYearId': academicYearId
                },
                success: function (data) {
                    $('#groupToDropdown').empty();
                    if (data.length === 0) {
                        $('#groupToDropdown').append($('<option>').text('Нет групп').val('0'));
                    } else {
                        $.each(data, function (i, group) {
                            $('#groupToDropdown').append($('<option></option>').val(group.value).text(group.text));
                        });
                        if (lastSelectedgroupToDropdown) {
                            $('#groupToDropdown').val(lastSelectedgroupToDropdown);
                        }
                    }
                    GetRightStudentList();
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            })
        }


    </script>

    <script type="text/javascript">

        function GetLeftStudentList() {
            var groupId = $("#groupFromDropdown").val();

            $.ajax({
                type: 'GET',
                url: '@Url.Action("ExportStudentList", "Student")',
                contentType: 'application/json',
                data: {
                    'groupId': groupId
                },
                success: function (response) {
                    $('#LeftContainer').html(response);
                    $('#exportTable').DataTable()
                    console.log(result)
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            })
        }

        function GetRightStudentList() {
            var groupId = $("#groupToDropdown").val();

            $.ajax({
                type: 'GET',
                url: '@Url.Action("ImportStudentList", "Student")',
                contentType: 'application/json',
                data: {
                    'groupId': groupId
                },
                success: function (response) {
                    $('#RightContainer').html(response);
                    $('#importTable').DataTable()
                    console.log(result)
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            })
        }
    </script>

}