@{
    ViewData["Title"] = "Приказы";
}

@using (Html.BeginForm())
{

    <div class="row">
        <div class="col-lg-12">
            <div class="form-group row mb-1">
                <div class="col-lg-5">
                    <select id="facultyFromDropdown" name="facultyFromDropdown" class="form-control"></select>
                </div>
                <div class="col-lg-2  text-center">
                    <label class="font-weight-bold">- ФАКУЛЬТЕТЫ -</label>
                </div>
                <div class="col-lg-5">
                    <select id="facultyToDropdown" name="facultyToDropdown" class="form-control"></select>
                </div>
            </div>
            <br>
            <div class="form-group row mb-1">

                <div class="col-md-2 text-center">
                    <label class="font-weight-bold">Учебный год</label>
                    <select id="academYearFirstDropdown" name="academYearFirstDropdown" class="form-control"></select>
                </div>
                <div class="col-md-2 text-center">
                    <label class="font-weight-bold">Из группы</label>
                    <select id="groupFromDropdown" name="groupFromDropdown" class="form-control"></select>
                </div>
                <div class="col-md-4 text-center">
                    <label class="font-weight-bold">Тип перемещения</label>
                    <select id="movementTypeDropdown" name="movementTypeDropdown" class="form-control"></select>
                </div>
                <div class="col-md-2 text-center">
                    <label class="font-weight-bold">В группу</label>
                    <select id="groupToDropdown" name="groupToDropdown" class="form-control"></select>
                </div>
                <div class="col-md-2 text-center">
                    <label class="font-weight-bold">Учебный год</label>
                    <select id="academYearSecondDropdown" name="academYearSecondDropdown" class="form-control"></select>
                </div>
            </div>
        </div>

    </div>
}
<hr>
<div id="dataContainer"></div>


@section Scripts {
    <script>
        $(document).ready(function () {
            $.ajax({
                url: '@Url.Action("GetFaculties", "Faculty")',
                type: 'GET',
                success: function (data) {
      
                    $.each(data, function (i, faculty) {
                        $('#facultyFromDropdown').append($('<option></option>').val(faculty.value).text(faculty.text));
                    });

                    $.each(data, function (i, faculty) {
                        $('#facultyToDropdown').append($('<option></option>').val(faculty.value).text(faculty.text));
                    });

                    FillGroupsDropdown()
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
            $.ajax({
                url: '@Url.Action("GetAcademicYears", "Option")', //to do перенести в контроллер Option
                type: 'GET',
                success: function (data) {

                    $.each(data, function (i, academYear) {
                        $('#academYearFirstDropdown').append($('<option></option>').val(academYear.value).text(academYear.text));
                    });
                    FillGroupFromDropdown()

                    $.each(data, function (i, academYear) {
                        $('#academYearSecondDropdown').append($('<option></option>').val(academYear.value).text(academYear.text));
                    });
                    FillGroupToDropdown()
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
            $.ajax({
                url: '@Url.Action("GetMovementTypes", "Option")',
                type: 'GET',
                success: function (data) {

                    $.each(data, function (i, movementType) {
                        $('#academYearFirstDropdown').append($('<option></option>').val(movementType.value).text(movementType.text));
                    });
                    // to do обработка выпадающего списка groupFromDropdown
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        });

        function FillGroupFromDropdown() {
            var facultyId = $('#facultyFromDropdown').val();

            $.ajax({
                url: '@Url.Action("GetGroupsByFaculty", "Group")',
                type: 'GET',
                data: { facultyId: facultyId },
                success: function (data) {

                    $.each(data, function (i, group) {
                        $('#groupFromDropdown').append($('<option></option>').val(group.value).text(group.text));
                    });
        
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        }

        function FillGroupToDropdown() {
            var facultyId = $('#facultyToDropdown').val();

            $.ajax({
                url: '@Url.Action("GetGroupsByFaculty", "Group")',
                type: 'GET',
                data: { facultyId: facultyId },
                success: function (data) {

                    $.each(data, function (i, group) {
                        $('#groupToDropdown').append($('<option></option>').val(group.value).text(group.text));
                    });

                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        }

 
    </script>

    <script type="text/javascript">

        function GetList() {
            var facultyId = $("#facultiesDropdown").val() || 0;
            var departmentId = $("#departmentsDropdown").val();
            var directionId = $("#directionsDropdown").val();
            var groupId = $("#groupsDropdown").val();

            $.ajax({
                type: 'GET',
                url: '@Url.Action("StudentList", "Student")',
                contentType: 'application/json',
                data: {
                    'facultyId': facultyId,
                    'departmentId': departmentId,
                    'directionId': directionId,
                    'groupId': groupId
                },
                success: function (response) {
                    $('#dataContainer').html(response);
                    $('#studentsTbl').DataTable()
                    console.log(result)
                },
                error: function (xhr, status, error) {
                    // Handle error if any
                    console.error(xhr.responseText);
                }
            })

        }
    </script>
}
