@model SubjectVM

@{
    ViewBag.Title = "Редактирование";
}

@using (Html.BeginForm())
{
    <div class="container py-3">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center mb-2">Редактирование предмета</h2>
                <hr class="mb-4">

                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <span class="anchor" id="formPayment"></span>
                        <div class="card card-outline-secondary">
                            <div class="card-body">
                                <h3 class="text-center">Форма редактирования</h3>
                                <hr>
                                <form autocomplete="off" class="form" role="form">
                                    @Html.AntiForgeryToken()
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="form-group">
                                        <label>@Html.DisplayNameFor(x => x.Title)</label>
                                        @Html.EditorFor(x => x.Title, new { htmlAttributes = new { @class = "form-control" }})
                                        @Html.ValidationMessageFor(x => x.Title, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        <label>@Html.DisplayNameFor(x => x.Description)</label>
                                        @Html.EditorFor(x => x.Description, new { htmlAttributes = new { @class = "form-control" }})
                                        @Html.ValidationMessageFor(x => x.Description, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        <label>@Html.DisplayNameFor(x => x.CreditCounts)</label>
                                        @Html.EditorFor(x => x.CreditCounts, new { htmlAttributes = new { @class = "form-control" }})
                                        @Html.ValidationMessageFor(x => x.CreditCounts, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        <label>@Html.DisplayNameFor(x => x.HoursAmount)</label>
                                        @Html.EditorFor(x => x.HoursAmount, new { htmlAttributes = new { @class = "form-control" }})
                                        @Html.ValidationMessageFor(x => x.HoursAmount, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        <label>@Html.DisplayNameFor(x => x.Course)</label>
                                        @Html.DropDownListFor(x => x.Course, Html.GetEnumSelectList(typeof(Course)), "Не выбрано", new {@class = "form-control"})
                                        @Html.ValidationMessageFor(x => x.Course, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        <label>@Html.DisplayNameFor(x => x.Semester)</label>
                                        @Html.DropDownListFor(x => x.Semester, Html.GetEnumSelectList(typeof(Semestr)), "Не выбрано", new {@class = "form-control"})
                                        @Html.ValidationMessageFor(x => x.Semester, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        <label>@Html.DisplayNameFor(x => x.ControlForm)</label>
                                        @Html.DropDownListFor(x => x.ControlForm, Html.GetEnumSelectList(typeof(FinalControlForm)), "Не выбрано", new {@class = "form-control"})
                                        @Html.ValidationMessageFor(x => x.ControlForm, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        <label>@Html.DisplayNameFor(x => x.DepartmentId)</label>
                                        @Html.DropDownListFor(x => x.DepartmentId, new List<SelectListItem>(), new { @class = "form-control", id = "departmentDropdown" })
                                        @Html.ValidationMessageFor(x => x.DepartmentId, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        <label>@Html.DisplayNameFor(x => x.EmployeeId)</label>
                                        @Html.DropDownListFor(x => x.EmployeeId, new List<SelectListItem>(), "Не выбрано", new { @class = "form-control", id = "employeesDropdown" })
                                        @Html.ValidationMessageFor(x => x.EmployeeId, "", new { @class = "text-danger" })
                                    </div>
                                    <hr>
                                    <div class="form-group row">
                                        <div class="col-md-6">
                                            <a href="/Subject/Index" class="btn btn-secondary btn-lg btn-block" type="button">Отмена</a>
                                        </div>
                                        <div class="col-md-6">
                                            <button class="btn btn-success btn-lg btn-block" type="submit">Сохранить</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div><!-- /form card cc payment -->
                    </div>
                </div><!--/row-->
            </div><!--/col-->
        </div><!--/row-->
    </div>

    <!--/container-->
}

@section Scripts {
    <script>
        $(document).ready(function () {
            $.ajax({
                url: '@Url.Action("GetDepartments", "Department")',
                type: 'GET',
                success: function (data) {
                    // Add new options
                    $.each(data, function (i, department) {
                        $('#departmentDropdown').append($('<option></option>').val(department.value).text(department.text));
                    });

                    // Set the selected value based on FacultyId
                    var departmentId = '@Model.DepartmentId'; // Assuming FacultyId is an integer property
                    $('#departmentDropdown').val(departmentId);
                },
                error: function (xhr, status, error) {
                    // Handle error if any
                    console.error(xhr.responseText);
                }
            });
        });

        $(document).ready(function () {
            $.ajax({
                url: '@Url.Action("GetEmployees", "Employee")',
                type: 'GET',
                success: function (data) {
                    // Add new options
                    $.each(data, function (i, employee) {
                        $('#employeesDropdown').append($('<option></option>').val(employee.value).text(employee.text));
                    });

                    // Set the selected value based on FacultyId
                    var employeeId = '@Model.EmployeeId'; // Assuming FacultyId is an integer property
                    $('#employeesDropdown').val(employeeId);
                },
                error: function (xhr, status, error) {
                    // Handle error if any
                    console.error(xhr.responseText);
                }
            });
        });
    </script>
}