@{
    ViewData["Title"] = "Отчет по студентам в группе";
}

<br />
<div class="text-center"><h1>Отчет по студентам в группах</h1></div>
<br />
<br />
<form action="/Report/GetStudentsInGroup" method="post">
    <div class="row">
        <div class="col-md-7">
            <div class="form-group row mb-1">
                <div class="col-md-2">
                    <label class="font-weight-bold">Факультет</label>
                </div>
                <div class="col-md-10">
                    <select id="facultyDropdown" name="facultyId" class="form-control"></select>
                </div>
            </div>
            <div class="form-group row mb-1">
                <div class="col-md-2">
                    <label class="font-weight-bold">Кафедра</label>
                </div>
                <div class="col-md-10">
                    <select id="departmentDropdown" name="departmentId" class="form-control"></select>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="form-group row mb-1">
                <div class="col-md-3">
                    <label class="font-weight-bold">Направление</label>
                </div>
                <div class="col-md-9">
                    <select id="directionDropdown" name="directionId" class="form-control"></select>
                </div>
            </div>
            <div class="form-group row mb-1">
                <div class="col-md-3">
                    <label class="font-weight-bold">Группа</label>
                </div>
                <div class="col-md-9">
                    <select id="groupDropdown" name="groupId" class="form-control"></select>
                </div>
            </div>
            <br />
            <div class="form-group row mb-1">
                <div class="col-md-12 text-right">
                    <button type="submit" id="submitButton" class="btn btn-success mb-3">
                        <i class="fas fa-paper-plane"></i> <span>Сформировать отчёт</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>


@section Scripts {
    <script>
        $(document).ready(function () {
            var facultyDropdown = $('#facultyDropdown');
            var departmentDropdown = $('#departmentDropdown');
            var directionDropdown = $('#directionDropdown');
            var groupDropdown = $('#groupDropdown');
            var submitButton = $('#submitButton');



            // Заполнение выпадающего списка факультетов при загрузке страницы
            $.ajax({
                url: '@Url.Action("GetFaculties", "Faculty")',
                type: 'GET',
                success: function (data) {
                    populateDropdown(facultyDropdown, data);
                    loadSelectedValue('facultyDropdown');
                    FillDepartmentsDropdown();
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });

            // Обработчик изменения выбранного факультета
            facultyDropdown.change(function () {
                saveSelectedValue('facultyDropdown')
                FillDepartmentsDropdown();
           
            });

            // Обработчик изменения выбранного отделения
            departmentDropdown.change(function () {
                FillDirectionsDropdown();
                saveSelectedValue('departmentDropdown')
               
            });

            // Обработчик изменения выбранного направления
            directionDropdown.change(function () {
                FillGroupsDropdown();
                saveSelectedValue('directionDropdown')
            });

            // Обработчик изменения выбранной группы
            groupDropdown.change(function () {
                saveSelectedValue('groupDropdown')
                ButtonVisibility()
            });

            function ButtonVisibility() {
                if (groupDropdown.val() || departmentDropdown.val()) {
                    submitButton.prop('disabled', false);
                } else {
                    submitButton.prop('disabled', true);
                }
            }

            // Заполнение выпадающего списка отделений
            function FillDepartmentsDropdown() {
                var facultyId = facultyDropdown.val();
                if (!facultyId) {
                    facultyId = facultyDropdown.find('option:first').val();
                    facultyDropdown.val(facultyId);
                }
                $.ajax({
                    url: '@Url.Action("GetDepartmentsByFaculty", "Department")',
                    type: 'GET',
                    data: { facultyId: facultyId },
                    success: function (data) {
                        clearDropdown(departmentDropdown);
                        populateDropdown(departmentDropdown, data);
                        loadSelectedValue('departmentDropdown');
                        FillDirectionsDropdown();
                    },
                    error: function (xhr, status, error) {
                        console.error(xhr.responseText);
                    }
                });
            }

            // Заполнение выпадающего списка направлений
            function FillDirectionsDropdown() {
                var departmentId = departmentDropdown.val();
                $.ajax({
                    url: '@Url.Action("GetDirectionsByDepartment", "Direction")',
                    type: 'GET',
                    data: { departmentId: departmentId },
                    success: function (data) {
                        clearDropdown(directionDropdown);
                        populateDropdown(directionDropdown, data);
                        loadSelectedValue('directionDropdown');
                        FillGroupsDropdown();
                    },
                    error: function (xhr, status, error) {
                        console.error(xhr.responseText);
                    }
                });
            }

            // Заполнение выпадающего списка групп
            function FillGroupsDropdown() {
                var directionId = directionDropdown.val();
                //var groupType = '@Html.Raw(Json.Serialize(GroupType.Students))';

                $.ajax({
                    url: '@Url.Action("GetGroupsByDirection", "Group")',
                    type: 'GET',
                    data: {
                        'directionId': directionId
                        //'groupType': groupType
                    },
                    success: function (data) {
                        clearDropdown(groupDropdown);
                        populateDropdown(groupDropdown, data);
                        loadSelectedValue('groupDropdown');
                        ButtonVisibility();
                    },
                    error: function (xhr, status, error) {
                        console.error(xhr.responseText);
                    }
                });
            }


            // Очистка выпадающего списка
            function clearDropdown(dropdown) {
                dropdown.empty();
                dropdown.append($('<option>').text('Все').val(''));
            }

            // Заполнение выпадающего списка данными
            function populateDropdown(dropdown, data) {
                $.each(data, function (i, item) {
                    dropdown.append($('<option>').val(item.value).text(item.text));
                });
            }

            function loadSelectedValue(dropdownId) {
                var selectedValue = localStorage.getItem(dropdownId);
                var dropdown = $('#' + dropdownId);

                if (selectedValue && dropdown.find('option[value="' + selectedValue + '"]').length > 0) {
                    dropdown.val(selectedValue);
                } else {
                    dropdown.val(''); // Set the dropdown value to empty
                    localStorage.setItem(dropdownId, ''); // Save the empty value in localStorage
                }
            }

            function saveSelectedValue(dropdownId) {
                var selectedValue = $('#' + dropdownId).val();
                localStorage.setItem(dropdownId, selectedValue);
            }

        });
    </script>
}
