@model IEnumerable<StudentPaymentDetailVM>

<thead class="thead-dark">
    <tr>
        <th>@Html.DisplayNameFor(model => model.StudentPaymentId)</th>
        <th>@Html.DisplayNameFor(model => model.PaymentDate)</th>
        <th>@Html.DisplayNameFor(model => model.Payment)</th>
        <th>@Html.DisplayNameFor(model => model.Number)</th>
        <th>@Html.DisplayNameFor(model => model.PaymentType)</th>
        <th>@Html.DisplayNameFor(model => model.SpecialPurpose)</th>
    </tr>
</thead>
<tbody>
    @foreach (var item in Model.OrderBy(item => item.PaymentDate))
    {
        <tr data-id="@item.Id">
            <td>@item.StudentPayment.AcademicYear.Name</td>
            <td>@item.PaymentDate</td>
            <td>@item.Payment</td>
            <td>@item.Number</td>
            <td>@item.PaymentType.GetDisplayName()</td>
            <td>@item.SpecialPurpose</td>
        </tr>
    }

</tbody>


