@model AVN.Models.FacultyVM

@{
    ViewBag.Title = "Редактирование";
}

@using (Html.BeginForm())
{
    <div class="container py-3">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center mb-2">Редактирование факультета</h2>
                <hr class="mb-4">

                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <span class="anchor" id="formPayment"></span>
                        <div class="card card-outline-secondary">
                            <div class="card-body">
                                <h3 class="text-center">Форма редактирования</h3>
                                <hr>
                                <form autocomplete="off" class="form" role="form">
                                    @Html.AntiForgeryToken()
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="form-group">
                                        <label>@Html.DisplayNameFor(model => model.FacultyName)</label>
                                        @Html.EditorFor(x => x.FacultyName, new { htmlAttributes = new { @class = "form-control" }})
                                        @Html.ValidationMessageFor(x => x.FacultyName, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        <label>@Html.DisplayNameFor(model => model.FacultyShortName)</label>
                                        @Html.EditorFor(x => x.FacultyShortName, new { htmlAttributes = new { @class = "form-control" }})
                                        @Html.ValidationMessageFor(x => x.FacultyShortName, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        <label>@Html.DisplayNameFor(model => model.DeanName)</label>
                                        @Html.EditorFor(x => x.DeanName, new { htmlAttributes = new { @class = "form-control" }})
                                        @Html.ValidationMessageFor(x => x.DeanName, "", new { @class = "text-danger" })
                                    </div>
                                    <hr>
                                    <div class="form-group row">
                                        <div class="col-md-6">
                                            <a href="/Faculty/Index" class="btn btn-secondary btn-lg btn-block" type="button">Отмена</a>
                                        </div>
                                        <div class="col-md-6">
                                            <button class="btn btn-success btn-lg btn-block" type="submit">Сохранить</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div><!-- /form card cc payment -->
                    </div>
                </div><!--/row-->
            </div><!--/col-->
        </div><!--/row-->
    </div>

    <!--/container-->
}