@model StudentPaymentDetailVM

<div class="container mt-3" id="paymentDetailContainer">
    <form>
        <div class="row jumbotron box8">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(x => x.Id)
            @Html.HiddenFor(x => x.StudentPaymentId)
            <div class="col-sm-12 mx-t3 mb-4">
                <h5 class="text-center text-info">Форма оплаты</h5>
            </div>


            <div class="col-sm-3 form-group">
            <label class="font-weight-bold">@Html.DisplayNameFor(x => x.Number)</label>
                @Html.EditorFor(x => x.Number, new { htmlAttributes = new { @class = "form-control" }})
                @Html.ValidationMessageFor(x => x.Number, "", new { @class = "text-danger" })
            </div>
            <div class="col-sm-3 form-group">
                <label class="font-weight-bold">@Html.DisplayNameFor(x => x.SpecialPurpose)</label>
                @Html.TextAreaFor(x => x.SpecialPurpose, new { htmlAttributes = new { @class = "form-control" }})
                @Html.ValidationMessageFor(x => x.SpecialPurpose, "", new { @class = "text-danger" })
            </div>
            <div class="col-sm-2 form-group">
            <label class="font-weight-bold">@Html.DisplayNameFor(x => x.PaymentDate)</label>
                @Html.TextBoxFor(x => x.PaymentDate, "{0:yyyy-MM-dd}", new { @class = "form-control",@type = "date"})
                @Html.ValidationMessageFor(x => x.PaymentDate, "", new { @class = "text-danger" })
            </div>
            <div class="col-sm-7 form-group"></div>

            <div class="col-sm-4 form-group">
                <label class="font-weight-bold">@Html.DisplayNameFor(x => x.Payment)</label>
                @Html.EditorFor(x => x.Payment, new { htmlAttributes = new { @class = "form-control" }})
                @Html.ValidationMessageFor(x => x.Payment, "", new { @class = "text-danger" })
            </div>
           
            <div class="col-sm-12 row">
            <div class="col-sm-9"></div>
            <div class="col-sm-3">
                    @if (Model.Payment.HasValue)
                    {
                        <button class="btn btn-success btn-lg btn-block-inline" type="submit">Оплатить</button>
                    }
                    else
                    {
                        <button class="btn btn-success btn-lg btn-block-inline" type="submit">Изменить</button>
                    }
                </div>
            </div>
        </div>
    </form>
</div>