@model IEnumerable<StudentPaymentDetailVM>


<table class="table table-bordered" id="paymentDetailsTable">
    <thead class="thead-dark">
        <tr>
            <th>@Html.DisplayNameFor(model => model.PaymentDate)</th>
            <th>@Html.DisplayNameFor(model => model.Payment)</th>
            <th>@Html.DisplayNameFor(model => model.Number)</th>
            <th>@Html.DisplayNameFor(model => model.PaymentType)</th>
            <th>@Html.DisplayNameFor(model => model.StudentPaymentId)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model == null || Model.Count() == 0)
        {
            <tr>
                <td colspan="5" class="text-center">Нет данных об оплатах</td>
            </tr>
        }
        else
        {
            @foreach (var students in Model.GroupBy(item => item.StudentPayment.Student))
            {
                <tr class="table-primary text-left">
                    <th colspan="8">@students.Key.FullName</th>
                </tr>
                @foreach (var item in students)
                {
                    <tr data-id="@item.Id">
                        <td>@(string.IsNullOrEmpty(item?.PaymentDate.ToString()) ? "-" : item.PaymentDate?.ToShortDateString())</td>
                        <td>@(string.IsNullOrEmpty(item?.Payment.ToString()) ? "-" : item.Payment)</td>
                        <td>@item?.Number</td>
                        <td>@(string.IsNullOrEmpty(item?.PaymentType.ToString()) ? "-" : item?.PaymentType?.GetDisplayName())</td>
                        <td>@item?.StudentPayment?.AcademicYear?.Name</td>
                        <td>
                            @if (item.Payment == null)
                            {
                                <span> @Html.ActionLink("", "Payment", "StudentPayment", new { orderNumber = @item.Number }, new { @class = "fas fa-cash-register" })</span>
                            }
                            else
                            {
                                <span> @Html.ActionLink("", "Payment", "StudentPayment", new { orderNumber = @item.Number }, new { @class = "fas fa-eye" })</span>
                            }

                        </td>
                    </tr>
                }
            }
            
        }
    </tbody>
</table>

