@model MovementTypeVM

@{
    ViewBag.Title = "Создание";
}

@using (Html.BeginForm())
{
    <div class="container py-3">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center mb-2">Создание типа перемещений</h2>
                <hr class="mb-4">

                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <span class="anchor" id="formPayment"></span>
                        <div class="card card-outline-secondary">
                            <div class="card-body">
                                <form autocomplete="off" class="form" role="form">
                                    @Html.AntiForgeryToken()
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="form-group">
                                        <label class="font-weight-bold">@Html.DisplayNameFor(model => model.Name)</label>
                                        @Html.EditorFor(x => x.Name, new { htmlAttributes = new { @class = "form-control" }})
                                        @Html.ValidationMessageFor(x => x.Name, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        <label class="font-weight-bold">@Html.DisplayNameFor(x => x.MoveType)</label>
                                        @Html.DropDownListFor(x => x.MoveType, Html.GetEnumSelectList(typeof(MoveType)), "Не выбрано", new {@class = "form-control"})
                                        @Html.ValidationMessageFor(x => x.MoveType, "", new { @class = "text-danger" })
                                    </div>
                                    <hr>
                                    <div class="form-group row">
                                        <div class="col-md-6">
                                            <a href="/Option/Index/" class="btn btn-secondary btn-lg btn-block" type="button">Отмена</a>
                                        </div>
                                        <div class="col-md-6">
                                            <button class="btn btn-success btn-lg btn-block" type="submit">Добавить</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div><!-- /form card cc payment -->
                    </div>
                </div><!--/row-->
            </div><!--/col-->
        </div><!--/row-->
    </div>

    <!--/container-->
}