@{
    ViewData["Title"] = "Ведомость";
}

@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-md-7">
            <div class="form-group row mb-1">

                <div class="col-md-2">
                    <label class="font-weight-bold">Предмет</label>
                </div>
                <div class="col-md-10">
                    <select id="subjectDropdown" class="form-control"></select>

                </div>
            </div>
            <div class="form-group row mb-1">

                <div class="col-md-2">
                    <label class="font-weight-bold">Учебный год</label>
                </div>
                <div class="col-md-10">
                    <select id="academicYearDropdown" class="form-control"></select>

                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="form-group row mb-1">

                <div class="col-md-3">
                    <label class="font-weight-bold">Группа</label>
                </div>
                <div class="col-md-9">
                    <select id="groupDropdown" name="groupDropdown" class="form-control"></select>

                </div>
            </div>
            <div class="form-group row mb-1">

                @*<div class="col-md-3">
                    <label class="font-weight-bold">Направление</label>
                </div>
                <div class="col-md-9">
                    <select id="directionDropdown" name="directionDropdown" class="form-control"></select>

                </div>*@
            </div>
        </div>
    </div>
}

<div id="dataContainer"></div>


@section Scripts {
    <script>
        $(document).ready(function () {
            var subjectDropdown = $('#subjectDropdown');
            var academicYearDropdown = $('#academicYearDropdown');
            var groupDropdown = $('#groupDropdown');

            loadDropdownData();

            subjectDropdown.change(function () {
                FillGroupDropdown();
                saveSelectedValue('subjectDropdown')
            });
            academicYearDropdown.change(function () {
                FillGroupDropdown();
                saveSelectedValue('academicYearDropdown')
            });
            groupDropdown.change(function () {
                FillGroupDropdown();
            });

            function loadDropdownData() {
                var dropdownPromises = [];

                dropdownPromises.push(
                    $.ajax({
                        url: '@Url.Action("GetSubjectByEmployee", "Subject")',
                        type: 'GET',
                        data: { employeeId: '@ViewBag.UserId' },
                        success: function (data) {
                            if (data.length === 0) {
                                subjectDropdown.append($('<option>').text('Нет данных').val(''));
                            } else {
                                $.each(data, function (i, subject) {
                                    subjectDropdown.append($('<option></option>').val(subject.value).text(subject.text));
                                });
                            }
                            loadSelectedValue('subjectDropdown');
                        },
                        error: function (xhr, status, error) {
                            console.error(xhr.responseText);
                        }
                    })
                );
                dropdownPromises.push(
                    $.ajax({
                        url: '@Url.Action("GetAcademicYears", "Option")',
                        type: 'GET',
                        success: function (data) {
                            if (data.length === 0) {
                                academicYearDropdown.append($('<option>').text('Нет данных').val(''));
                            } else {
                                $.each(data, function (i, academicYear) {
                                    academicYearDropdown.append($('<option></option>').val(academicYear.value).text(academicYear.text));
                                });
                            }
                            loadSelectedValue('academicYearDropdown');
                        },
                        error: function (xhr, status, error) {
                            console.error(xhr.responseText);
                        }
                    })
                );

                $.when.apply($, dropdownPromises).done(function () {
                    FillGroupDropdown();
                });

            }

            function FillGroupDropdown() {
                var subjectId = subjectDropdown.val();
                var academicYearId = academicYearDropdown.val();
                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("GetGroupsBySubjectAndAcademicYear", "GradeBook")',
                    contentType: 'application/json',
                    data: {
                        'subjectId': subjectId,
                        'academicYearId': academicYearId
                    },
                    success: function (data) {
                        groupDropdown.empty();
                        if (data.length === 0) {
                            groupDropdown.append($('<option>').text('Нет данных').val(''));
                        } else {
                            $.each(data, function (i, group) {
                                groupDropdown.append($('<option></option>').val(group.value).text(group.text));
                            });
                            saveSelectedValue('groupDropdown');
                        }
                        GetList();
                    },
                    error: function (xhr, status, error) {
                        console.error(xhr.responseText);
                    }
                });
            }

            function GetList() {
                var groupId = groupDropdown.val();
                var subjectId = subjectDropdown.val();
                var academicYearId = academicYearDropdown.val();
                var userId = '@ViewBag.UserId';
                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("GradeBookList", "GradeBook")',
                    contentType: 'application/json',
                    data: {
                        'groupId': groupId,
                        'subjectId': subjectId,
                        'academicYearId': academicYearId,
                        'userId': userId
                    },
                    success: function (response) {
                        $('#dataContainer').html(response);
                        $('#gradeBookTable').DataTable();
                    },
                    error: function (xhr, status, error) {
                        console.error(xhr.responseText);
                    }
                });
            }

            function loadSelectedValue(dropdownId) {
                var dropdown = document.getElementById(dropdownId);
                var selectedValue = localStorage.getItem(dropdownId);

                // Check if the selectedValue exists in the dropdown
                if (selectedValue && Array.from(dropdown.options).some(option => option.value === selectedValue)) {
                    $('#' + dropdownId).val(selectedValue);
                }
            }

            function saveSelectedValue(dropdownId) {
                var selectedValue = $('#' + dropdownId).val();
                localStorage.setItem(dropdownId, selectedValue);
            }
        });

    </script>
}
